body {
  background: #4b8f2cb6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.container {
  border: 2px solid #212d9c;
  border-radius: 30px;
  background: #eeedab;
  color: #080c1f;
}

forms {
  display: grid;
}

p {
  margin: 10px;
}
.itens-login {
  display: grid;
  margin: 10px;
}

.botao {
  cursor: pointer;
  border: solid 1px rgb(8, 8, 77);
  border-radius: 20px;
  color: rgb(8, 8, 77);
  background-color: white;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
.botao:hover {
  background-color: rgb(8, 8, 77);
  color: white;
  transform: scale(1.2);
}

.botao-aline {
  display: flex;
  justify-content: center;
  align-items: center;
}
