body {
  background: rgb(55, 57, 59);
}
div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgcerebro {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
