body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

main {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

hr {
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.convert {
  margin-bottom: 20px;
}

.convert p {
  margin-bottom: 10px;
}

.gastos,
.percentual,
.valorGorjeta,
.totalConta {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.gastos::placeholder,
.percentual::placeholder,
.valorGorjeta::placeholder,
.totalConta::placeholder {
  color: #aaa;
}

.valorGorjeta,
.totalConta {
  pointer-events: none;
}

.pConta {
  margin-bottom: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
